<html>

<head>
    <title>Espiritualizações</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <style>
        .layout-planos div button {
            display: block;
            padding: 20% 21.3%;
            margin: auto;
            margin-top: 10%;
            margin-bottom: 5%;
            font-size: 300%
        }
    </style>
</head>

<body>
    <div class="container layout-planos">
        <div class="row">
            <div class="col-12">
                <a href="https://6b849aec.ngrok.io/images/file_13.jpg" download>
                    <button type="button" class="btn btn-primary" disabled>1ª Espiritualização</button>
                </a>
            </div>

            <div class="col-12">
                <a href="#" download>
                    <button type="button" class="btn btn-primary" disabled>2ª Espiritualização</button>
                </a>
            </div>

            <div class="col-12">
                <a href="#" download>
                    <button type="button" class="btn btn-primary" disabled>3ª Espiritualização</button>
                </a>
            </div>

            <div class="col-12">
                <a href="#" download>
                    <button type="button" class="btn btn-primary" disabled>4ª Espiritualização</button>
                </a>
            </div>

            <div class="col-12">
                <a href="#" download>
                    <button type="button" class="btn btn-primary" disabled>5ª Espiritualização</button>
                </a>
            </div>

            <div class="col-12">
                <a href="#" download>
                    <button type="button" class="btn btn-primary" disabled>6ª Espiritualização</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>